<div class="parent-div">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Template Form</h3>
        <form
          name="form"
          (ngSubmit)="f.form.valid && onSubmit(f)"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              name="firstName"
              [(ngModel)]="model['firstName']"
              #firstName="ngModel"
              [ngClass]="{
                'is-invalid':
                  firstName.invalid &&
                  (firstName.dirty || firstName.touched || f.submitted)
              }"
              required
            />
            <div
              *ngIf="
                firstName.invalid &&
                (firstName.dirty || firstName.touched || f.submitted)
              "
              class="invalid-feedback"
            >
              <div *ngIf="firstName.errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              name="lastName"
              [(ngModel)]="model['lastName']"
              #lastName="ngModel"
              [ngClass]="{
                'is-invalid':
                  lastName.invalid &&
                  (lastName.dirty || lastName.touched || f.submitted)
              }"
              required
            />
            <div
              *ngIf="
                lastName.invalid &&
                (lastName.dirty || lastName.touched || f.submitted)
              "
              class="invalid-feedback"
            >
              <div *ngIf="lastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              [(ngModel)]="model['email']"
              #email="ngModel"
              [ngClass]="{
                'is-invalid':
                  email.invalid && (email.dirty || email.touched || f.submitted)
              }"
              required
              email
            />
            <div
              *ngIf="
                email.invalid && (email.dirty || email.touched || f.submitted)
              "
              class="invalid-feedback"
            >
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="model['password']"
              #password="ngModel"
              [ngClass]="{
                'is-invalid':
                  password.invalid &&
                  (password.dirty || password.touched || f.submitted)
              }"
              required
              minlength="6"
            />
            <div
              *ngIf="
                password.invalid &&
                (password.dirty || password.touched || f.submitted)
              "
              class="invalid-feedback"
            >
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
